<section class="body-bg">
  <div class="d-flex justify-content-center">
    <div class="col-lg-8 col-sm-12">
      <h3 class="pt-4">
        <span class="text-danger">&#9830;</span> Question & Answer
      </h3>
      <div id="accordion" class="pb-5 pt-3">
        <dx-accordion
          #accordion
          [dataSource]="questionAnswer"
          [collapsible]="false"
          [multiple]="true"
          [animationDuration]="300"
          [selectedItems]="[questionAnswer[0]]"
        >
          <div *dxTemplate="let company of 'title'">
            <h5>{{ company.ID }} | {{ company.Question }}</h5>
          </div>
          <div *dxTemplate="let company of 'item'">
            <div innerHtml="{{ company.Answer }}">
              <!-- 
              <p>
                <span>{{ company.Answer }}</span>
              </p> -->
            </div>
            <div>
              <p *ngIf="company?.Website">
                Website:
                <a href="{{ company.Website }}" target="_blank">Click me </a>
              </p>
            </div>
          </div>
        </dx-accordion>
      </div>
      <div></div>
    </div>
  </div>
</section>
