/* You can add global styles to this file, and also import other style files */
// @import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
body {
  // font-family: 'Quicksand', sans-serif;
  font-family: "Shadows Into Light", cursive;
}

.header {
  contain: "";
  height: 50vh;
  width: 100%;
  color: #fff;
  background: linear-gradient(rgba(252, 160, 160, 0.6),rgba(0,0,0,0.6)), url('./assets/appbg2.jpg');
  background-repeat: no-repeat;
   background-size: 100% 100%;
}
// .header:after{
//     content: '';
//     position: absolute;
//     bottom: 0;
//     width: 100%;
//     background-image: url('./assets/wave.svg');
//     height: 175px;
// }

.container {
  width: 70%;
}
.body-bg {
  background-color: #fae3e7;
}
.sl_no{
  font-size: 26px;
  color: rgb(197, 194, 194);
  font-weight: 500;
}
.question_q{
  margin-top: -10px;
}

@media(min-width:320px) and (max-width:640px) {
  .header {
    height: 32vh;
  }
}
