h1{
    font-weight: 700;
}
.img-box{
    height: 80px;
    width: 80px;
}
.img-section{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}


@media(min-width:320px) and (max-width:640px) {
    .mobile-p{
        padding: 20px;
        padding-top: 90px;
    }
    .img-box{
        height: 50px;
        width: 50px;
    }
   
}